---
import YoutubeHome from "../icons/YoutubeHome.astro";
import Home from "../icons/Home.astro";
import Shorts from "../icons/Shorts.astro";
import Subscriptions from "../icons/Subscriptions.astro";
import You from "../icons/You.astro";
import BottomNav from "./BottomNav.astro";
---

<nav class="fixed top-0 z-50 w-full bg-white dark:bg-[#0F0F0F] sm:block hidden">
  <div class="px-3 py-2 lg:px-5 lg:pl-3">
    <div class="flex items-center justify-between">
      <div class="flex items-center justify-start gap-2 rtl:justify-end px-2">
        <button
          data-drawer-target="logo-sidebar"
          data-drawer-toggle="logo-sidebar"
          aria-controls="logo-sidebar"
          type="button"
          class="inline-flex items-center p-2 text-sm text-gray-500 rounded-full hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-zinc-800"
        >
          <span class="sr-only">Open sidebar</span>
          <svg
            class="w-6 h-6"
            aria-hidden="true"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              clip-rule="evenodd"
              fill-rule="evenodd"
              d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
            ></path>
          </svg>
        </button>
        <a href="" class="flex items-center ms-2 md:me-24">
          <div class="flex items-center justify-center w-24 h-6">
            <YoutubeHome />
          </div>
        </a>
      </div>
      <div class="flex items-center">
        <div class="flex items-center ms-3">
          <div>
            <button
              type="button"
              class="flex text-sm bg-gray-800 rounded-full"
              aria-expanded="false"
              data-dropdown-toggle="dropdown-user"
            >
              <span class="sr-only">Open user menu</span>
              <img
                class="w-8 h-8 rounded-full"
                src="https://flowbite.com/docs/images/people/profile-picture-5.jpg"
                alt="user photo"
              />
            </button>
          </div>
          <div
            class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded shadow dark:bg-gray-700 dark:divide-gray-600"
            id="dropdown-user"
          >
            <div class="px-4 py-3" role="none">
              <p class="text-sm text-gray-900 dark:text-white" role="none">
                Neil Sims
              </p>
              <p
                class="text-sm font-medium text-gray-900 truncate dark:text-gray-300"
                role="none"
              >
                neil.sims@flowbite.com
              </p>
            </div>
            <ul class="py-1" role="none">
              <li>
                <a
                  href="#"
                  class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
                  role="menuitem">Dashboard</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
                  role="menuitem">Settings</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
                  role="menuitem">Earnings</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
                  role="menuitem">Sign out</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<aside
  id="logo-sidebar"
  class="fixed top-0 left-0 z-50 w-60 h-screen pt-2 transition-transform -translate-x-full bg-white dark:bg-[#0F0F0F] shadow-2xl"
  aria-label="Sidebar"
>
  <div
    class="flex flex-col gap-4 h-full px-3 pb-4 overflow-y-auto bg-white dark:bg-[#0F0F0F]"
  >
    <div class="flex items-center justify-start gap-2 rtl:justify-end px-2">
      <button
        data-drawer-target="logo-sidebar"
        data-drawer-toggle="logo-sidebar"
        aria-controls="logo-sidebar"
        type="button"
        class="inline-flex items-center p-2 text-sm text-gray-500 rounded-full hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-zinc-800"
      >
        <span class="sr-only">Open sidebar</span>
        <svg
          class="w-6 h-6"
          aria-hidden="true"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            clip-rule="evenodd"
            fill-rule="evenodd"
            d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
          ></path>
        </svg>
      </button>
      <a href="" class="flex items-center ms-2 md:me-24">
        <div class="flex items-center justify-center w-24 h-6">
          <YoutubeHome />
        </div>
      </a>
    </div>
    <ul
      class="space-y-2 font-medium border-b-2 border-gray-200 dark:border-gray-700"
    >
      <li>
        <a
          href="#"
          class="flex items-center gap-3 p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
        >
          <div class="w-6 h-6 flex items-center justify-center">
            <Home />
          </div>
          <span class="ms-3">Principal</span>
        </a>
      </li>
      <li>
        <a
          href="#"
          class="flex items-center gap-3 p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
        >
          <div class="w-6 h-6 flex items-center justify-center">
            <Shorts />
          </div>
          <span class="flex-1 ms-3 whitespace-nowrap">Shorts</span>
        </a>
      </li>
      <li>
        <a
          href="#"
          class="flex items-center gap-3 p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
        >
          <div class="w-6 h-6 flex items-center justify-center">
            <Subscriptions />
          </div>
          <span class="flex-1 ms-3 whitespace-nowrap">Suscripciones</span>
        </a>
      </li>
    </ul>
    <ul class="font-medium">
      <li>
        <a
          href="#"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
        >
          <div class="w-6 h-6 flex items-center justify-center roboto-bold">
            Tú
          </div>
          <span class="w-4 h-4 flex justify-start whitespace-nowrap"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              height="16"
              viewBox="0 0 16 16"
              width="16"
              focusable="false"
              aria-hidden="true"
              fill="currentColor"
              style="pointer-events: none; display: inherit; width: 100%; height: 100%;"
              ><path
                d="M4.97 12.65 9.62 8 4.97 3.35l.71-.71L11.03 8l-5.35 5.35-.71-.7z"
              ></path></svg
            ></span
          >
        </a>
      </li>
    </ul>
  </div>
</aside>

<aside
  class="fixed top-0 left-0 z-30 w-20 h-screen pt-16 transition-transform -translate-x-full bg-white sm:translate-x-0 dark:bg-[#0F0F0F]"
>
  <div class="h-full px-1 pb-4 overflow-y-auto bg-white dark:bg-[#0F0F0F]">
    <ul class="flex flex-col gap-3 font-medium">
      <li>
        <a
          href="#"
          class="flex flex-col items-center p-2 text-gray-900 rounded-xl dark:text-white hover:bg-gray-100 dark:hover:bg-zinc-800 group"
        >
          <div class="w-6 h-6 flex items-center justify-center">
            <Home />
          </div>
          <span class="text-xs font-regular mt-1">Principal</span>
        </a>
      </li>
      <li>
        <a
          href="#"
          class="flex flex-col items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-zinc-800 group"
        >
          <div class="w-6 h-6 flex items-center justify-center">
            <Shorts />
          </div>
          <span class="text-xs font-regular mt-1">Shorts</span>
        </a>
      </li>
      <li>
        <a
          href="#"
          class="flex flex-col items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-zinc-800 group"
        >
          <div class="w-6 h-6 flex items-center justify-center">
            <Subscriptions />
          </div>
          <span class="text-[11px] font-regular mt-1">Suscripciones</span>
        </a>
      </li>
      <li>
        <a
          href="#"
          class="flex flex-col items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-zinc-800 group"
        >
          <div class="w-6 h-6 flex items-center justify-center">
            <You />
          </div>
          <span class="text-xs font-regular mt-1">Tú</span>
        </a>
      </li>
    </ul>
  </div>
</aside>

<BottomNav />
